<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>
      <div class="title">Iglesia Eliasista de México</div>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card  *ngFor="let post of posts"  >
    <ion-card-header (click)="openPost(post?.id)">
       <ion-img [src]="post?.jetpack_featured_media_url" style="height: 520px;"></ion-img>
      <ion-card-subtitle>{{post?.date}}</ion-card-subtitle>
      <ion-card-title><h4 [innerHTML]="post?.title?.rendered"></h4></ion-card-title>
    </ion-card-header>

    <ion-card-content (click)="openPost(post?.id)">
      <div [innerHTML]="post?.excerpt?.rendered"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
